.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    /* background-image: url('../images/body.jpg'); */

    font-family: "Raleway", sans-serif;
    
}

.header {
    color: #FFF;
    background-color: #3498DB;
}

.name {
    font-size: 3.0rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    padding-top:1em;
}
.headline {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    padding:0 0 2em 0;
}


.navbar {
    font-size: 15px;
    padding-bottom: 10px;
}
.navbar-toggle {
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    text-align: center;
}
.main-nav {
    list-style-type: none;
    display: none;
    padding: 0;
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.active {
    display: block;
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .navbar-toggle {
       display: none;
    }
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }




.content {
    height: 10000px;
}

