.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-family: "Raleway", sans-serif;
}

.header {
    color: #FFF;
    background-color: #3498DB;
}

.name {
    font-size: 3.0rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    padding-top:1em;
}
.headline {
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    padding:0 0 1em 0;
}


.navbar {
    font-size: 15px;
    padding: 10px 0 10px 0;
    background-color: #3498DB;
}
.navbar-toggle {
    cursor: pointer; 
    color: rgba(255,255,255,0.8);
    font-size: 24px;
    text-align: center;
    margin:0;
}
.main-nav {
    list-style-type: none;
    display: none;
    padding: 0;
    padding-bottom:0px;
}
.main-nav li {
    text-align: center;
    margin: 15px auto;
}
.nav-links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}
.active {
    display: block;
}
@media screen and (min-width: 768px) {
    .headline {
        font-size: 1.4rem;
        font-weight: 100;
        line-height: 1.2;
        letter-spacing: -.1rem;
        text-align: center;
        padding:0 0 2em 0;
    }

    .navbar {
        display: flex;
        justify-content: center;
        padding: 0;
        align-items: center;
    }
    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom:0px;
    }
    .main-nav li {
        margin: 0;
    }
    .nav-links {
        margin-left: 40px;
    }
    .navbar-toggle {
       display: none;
    }
    .nav-links:hover {
        color: rgba(255, 255, 255, 1);
    }

    .content {
        padding: 0 9em 0 9em;
    }
    

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 48px;
}

.sticky + .mobilePad {
    padding-top: 222px;
}

.content {
    padding: 0 1.5em 0 1.5em;
}

.content > div > h3 {
    color:#3498DB;
    font-weight: 300;
    font-size: x-large;
    text-align: center;
    margin: 5em 0 .5em 0;
}

.home {
    padding-top: 7em;
}

hr {
    height: 1px;
    color: #3498DB;
    background-color: #3498DB;
    border: none;
    width: 70%;
}

.contentItem {
    text-align: center;
    
}

.contentItem > p {
    font-size: 85%;
    line-height: 250%;
}



footer {
    background-color: #3498DB;
    
}